{% extends  "login/default/default_list.html.twig" %}
{% block button_new %}
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="{{class_btn_new}}" aria-hidden="true"></span> Novo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{path( bind_path~'_new_options',{'options':'normal'})}}">Normal</a></li>
            <li><a href="{{path( bind_path~'_new_options',{'options':'recorrente'})}}">Recorrente</a></li>
            <li><a href="{{path( bind_path~'_new_options',{'options':'parcelada'})}}">Parcelada</a></li>
            <li><a href="{{path( bind_path~'_new_options',{'options':'transferencia'})}}">Transfer&ecirc;ncia entre contas</a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;<a href="#">Despesas <span class="badge">R$ 1.523,69</span></a>
        <a href="#">Receitas <span class="badge">R$ 2.157,00</span></a>
    </div>
{% endblock %}

{% block button_arquivos %}
    {%if attribute(object, 'transf') is not empty %}
        <a href="#" title="S&iacute;mbolo de transfer&ecirc;ia entre contas" class="{{class_btn}} disabled" aria-label="Left Align">
            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
        </a> 
                                          
    {%endif%}
    {%if attribute(object, 'arquivoBoleto') is not empty %}
        <a href="{{path("getBoleto",{"id":object.id})}}" target="_blank" title="Visualizar Boleto" class="{{class_btn}}" aria-label="Left Align">
            <span class="{{class_boleto}}" aria-hidden="true"></span>
        </a>                               
    {%endif%}
    {%if attribute(object, 'arquivoComprovante') is not empty %}
        <a href="{{path("getComprovante",{"id":object.id})}}" target="_blank" title="Visualizar Comprovante"class="{{class_btn}}" aria-label="Left Align">
            <span class="{{class_comprovante}}" aria-hidden="true"></span>
        </a>                               
    {%endif%} 
    {%if not attribute(object, 'status')%}
        {% set title = 'Pagar Agora' %}
        {%if attribute(object, 'valor') > 0 %}
            {% set title = 'Receber Agora' %}               
        {%endif%} 
        <a href="{{path("editStatus",{"id":object.id})}}" class="{{class_btn}}" title="{{title}}" aria-label="Left Align">
            <!-- <img src="/img/glyphicons-money.png" width="13" height="9" > !-->
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
        </a>                               
    {%endif%}   
{% endblock %}


