{% extends  "login/default/default_list.html.twig" %}
{% block button_new %}
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="{{class_btn_new}}" aria-hidden="true"></span> Novo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{path( bind_path~'_new_options',{'options':'normal'})}}">Normal</a></li>
            <li><a href="{{path( bind_path~'_new_options',{'options':'recorrente'})}}">Recorrente</a></li>
            <li><a href="{{path( bind_path~'_new_options',{'options':'parcelada'})}}">Parcelada</a></li>
            <li><a href="{{path( bind_path~'_new_options',{'options':'transferencia'})}}">Transfer&ecirc;ncia entre contas</a></li>
        </ul>
    </div>
{% endblock %}
